openapi: 3.2.0
info:
  title: Truphone (1GLOBAL) IoT Portal Devices API
  description: REST API for the Truphone (now 1GLOBAL) IoT Portal, providing SIM / eSIM lifecycle management, connectivity and data-usage inspection, rate plans and subscriptions, and IoT device management.
  termsOfService: https://www.1global.com
  contact:
    name: 1GLOBAL (Truphone) Support
    url: https://docs.things.1global.com/apireference/
  version: '2.2'
servers:
- url: https://iot.truphone.com/api
  description: 1GLOBAL IoT Portal API (legacy Truphone host)
security:
- TokenAuth: []
tags:
- name: Devices
  description: Connected device management and automation rules.
paths:
  /v2.2/devices:
    get:
      operationId: listDevices
      tags:
      - Devices
      summary: List devices
      description: List connected devices.
      responses:
        '200':
          description: A list of devices.
  /v2.2/devices/{id}:
    get:
      operationId: getDevice
      tags:
      - Devices
      summary: Get a device
      description: Retrieve a device's configuration.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Device detail.
    patch:
      operationId: updateDevice
      tags:
      - Devices
      summary: Update a device
      description: Update a device's settings.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated device.
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based authentication. Supply the header `Authorization: Token <api-key>`. (1GLOBAL Connect and the 1GLOBAL platform API on services.truphone.com use OAuth2 / bearer tokens instead; see provider documentation.)'
