openapi: 3.0.1
info:
  title: Truphone (1GLOBAL) IoT Portal Connectivity Plans API
  description: 'REST API for the Truphone (now 1GLOBAL) IoT Portal, providing SIM / eSIM lifecycle management, connectivity and data-usage inspection, rate plans and subscriptions, and IoT device management. The API is JSON-based: request and response bodies use Content-Type application/json, each operation has a URI (for example /api/v2.2/sims) and may reference a specific resource by ICCID or ID. Truphone was acquired and rebranded to 1GLOBAL in 2022; the IoT Portal API host remains iot.truphone.com while product documentation now lives on 1global.com. eSIM ordering and activation for 1GLOBAL Connect use a separate host (services.truphone.com/connect-api); see the description on the Order operations below. Endpoints, paths, and the token authentication scheme below are documented; request/response schemas are summarized and not exhaustive.'
  termsOfService: https://www.1global.com
  contact:
    name: 1GLOBAL (Truphone) Support
    url: https://docs.things.1global.com/apireference/
  version: '2.2'
servers:
- url: https://iot.truphone.com/api
  description: 1GLOBAL IoT Portal API (legacy Truphone host)
security:
- TokenAuth: []
tags:
- name: Plans
  description: Rate plans and SIM subscriptions.
paths:
  /v2.0/rate_plans:
    get:
      operationId: listRatePlans
      tags:
      - Plans
      summary: List rate plans
      description: List the rate plans available to the organization.
      responses:
        '200':
          description: A list of rate plans.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlanList'
  /v2.0/rate_plans/{id}:
    get:
      operationId: getRatePlan
      tags:
      - Plans
      summary: Get a rate plan
      description: Retrieve detail for a specific rate plan.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Rate plan detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePlan'
  /v2.0/sims/{iccid}/subscription:
    get:
      operationId: getSubscription
      tags:
      - Plans
      summary: Get SIM subscription
      description: Retrieve a SIM's subscription details and current service pack.
      parameters:
      - $ref: '#/components/parameters/Iccid'
      responses:
        '200':
          description: Subscription detail.
    patch:
      operationId: updateSubscription
      tags:
      - Plans
      summary: Update SIM subscription
      description: Modify a SIM's rate plan, applying the change immediately or at the next billing cycle.
      parameters:
      - $ref: '#/components/parameters/Iccid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated subscription.
components:
  schemas:
    RatePlanList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/RatePlan'
    RatePlan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
  parameters:
    Iccid:
      name: iccid
      in: path
      required: true
      description: The ICCID identifying the SIM / eSIM.
      schema:
        type: string
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based authentication. Supply the header `Authorization: Token <api-key>`. (1GLOBAL Connect and the 1GLOBAL platform API on services.truphone.com use OAuth2 / bearer tokens instead; see provider documentation.)'
